.button {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
  color: var(--Texto, #181E4B);
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 1;
  padding: 8px 16px;
}

.button--primary {
  background: var(--Primario, #F1A501);
  border: 1px solid var(--Primario, #F1A501);
  border-radius: 10px;
  color: #fff;
  height: 60px;
}

.button--primary:hover {
  background: var(--Hover-primario, #E49F1A);
}

.button--primary:active {
  background: var(--Presionado-primario, #DB8C15);
}

.button--secondary {
  background-color: transparent;
  border: 1px solid var(--Texto, #181E4B);
  border-radius: 5px;
  color: var(--Texto, #181E4B);
}

.button--secondary:hover {
  border: 1.5px solid var(--Texto, #181E4B);
}

.button--secondary:active {
  background: var(--Presionado-secundario, #C0C5EF);
  border: 1px solid var(--Texto, #181E4B);
}

.button--small {
  font-size: 14px;
  height: 40px;
}

.button--large {
  font-size: 16px;
}

.button--xl {
  font-size: 16px;
  width: 300px;
}