.comments__header {
  margin-bottom: 70px;
  text-align: center;
}

.comments--dark .text__headline {
  color: white;
}

.comments__list {
  height: 300px;
  position: relative;
  width: 100%;
}

.comments__item {
  left: 0;
  position: absolute;
  top: 0;
}

.comments__item:nth-child(2) {
  left: 40px;
  top: 80px;
  z-index: -1;
}

.comments__controls {
  text-align: center;
}

.comments__button {
  background: none;
  border: none;
  color: var(--gray-100);
  font-size: 20px;
  height: 50px;
  width: 50px;
}

.comments__indicator-item {
  background: var(--gray-100);
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 20px 10px;
  position: relative;
  width: 15px;
}

.comments__indicator-item--active {
  background: var(--dark-blue);
}

.comments--dark .comments__indicator-item--active {
  background-color: white;
}

@media screen and (min-width: 720px) {
  .comments__slider {
    display: flex;
    position: relative;
    width: 650px;
  }

  .comments__controls {
    display: flex;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(90deg) translateX(-50%);
  }
}

@media screen and (min-width: 1120px) {
  .comments {
    box-sizing: border-box;
    margin: auto;
    width: 1120px;
  }

  .comments__container {
    display: flex;
  }
  .comments__highlighter {
    text-align: left;
  }

  .comments__header,
  .comments__header .text__headline {
    margin-bottom: 60px;
    text-align: left;
  }

  .comments--dark .text__pre-headline {
    color: var(--gray-200);
  }

  .comments__header {
    margin-right: 98px;
  }
  .comments__list {
    margin-top: 40px;
  }
}
