.featured-card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  height: 329px;
  margin: 0;
  overflow: hidden;
  width: 270px;
}

.featured-card__image {
  height: 205px;
}

.featured-card__figcaption {
  border: 2px solid #f7f7f7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  padding: 32px 24px;
}

.featured-card__svg {
  position: relative;
  top: 5px;
}

.featured-card__headline {
  color: #181e4b;
  display: flex;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 1;
  margin: 0;
  margin-bottom: 8px;
}

.featured-card__dates {
  margin: 0;
  color: #181e4b;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  line-height: 1;
}
