/* Mobile First */
.footer {
  color: #5e6282;
  font-family: Inter, Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin: 62px auto;
  text-align: center;
  width: 324px;
}

/* Medium size: tablets */
@media screen and (min-width: 720px) {
  .footer {
    font-size: 16px;
    margin: 80px auto 62px;
    width: 430px;
  }
}

/* Large size: Laptops, Desktops */
@media screen and (min-width: 1120px) {
  .footer {
    font-size: 18px;
    margin: 100px auto 62px;
    width: 485px;
  }
}

.footer__text {
  margin: 16px auto;
}
