/* Mobile First */
.hero {
  background-image: url(assets/Decore.png);
  background-repeat: no-repeat;
  background-position: 100%;
    background-size: 200px;
  padding: 30% 0% 5%;
  width: 100vw;
  box-sizing: border-box;
}

.hero__container {
  align-items: center;
  display: flex;
  background-image: url(assets/traveller.png);
  background-repeat: no-repeat;
  background-position-x: 120% ;
    background-size: 260px;
  width: 358px;
  margin:auto;
}

.hero__content {
  color: rgba(24, 30, 75, 1);
  max-width: 205px;
}

.hero__headline {
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  line-height: 1.2;
}

.hero__subtitle {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  margin: 24px 0;
}

/* Medium size: tablets */
@media screen and (min-width: 720px) {
  .hero {
    background-size: 320px;
  padding: 15% 0% 5%;
  }

  .hero__container {
    background-size: 500px;
    height: 524px;
    width: 714px;
  }

  .hero__content {
    max-width: 375px;
  }

  .hero__headline {
    font-size: 50px;
    line-height: 1.2;
  }

  .hero__subtitle {
    font-size: 14px;
    margin: 32px 0;
  }
}

/* Large size: Laptops, Desktops */
@media screen and (min-width: 1120px) {
  .hero {
    background-size: 600px;
  }


  .hero__container {
    height: 748px;
    width: 1120px;
    background-size: 700px;
  }

  .hero__content {
    max-width: 579px;
  }

  .hero__headline {
    font-size: 80px;
    line-height: 1.2;
  }

  .hero__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 32px 0;
    text-transform: uppercase;
  }

  .hero__figure {
    margin: 0;
    width: 100%;
  }
}

