.logo--dark-mode .logo__slogan path, .logo--dark-mode .logo__name path {
  fill: white
}

.logo {
  height: 32px;
}

@media screen and (max-width: 719px) {
  .logo {
    position: relative;
    left: 60px;
  }
}

.logo__slogan {
  display: none;
}

.logo__name {
  display: none
}

@media screen and (min-width: 720px) {
  .logo .logo--force-medium {
    height: 44px
  }
  
  .logo__slogan.logo--force-medium {
    display:block;
  }

  .logo__name.logo--force-medium {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
 .logo {
    height: 44px
  } 

  .logo__slogan {
    display: block;
  }
  
  .logo__name {
    display: block;
  }
}
