.search {
  box-sizing: border-box;
  margin: 100px auto;
  width: 350px;
}

.search--dark .text__pre-headline {
  color: var(--gray-200);
}

.search--dark .text__headline {
  color: white;
}

.search fieldset {
  border: none;
  width: 100%;
}

.search__one-way {
  margin-right: 20px;
}

.search__form {
  margin-top: 50px;
}

.search__trip-type {
  width: 95%;
}

.search--dark {
  color: var(--gray-200);
}


@media screen and (min-width: 720px) {
  .search {
    width: 720px;
  }

  .search fieldset {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1120px) {
  .search {
    width: 740px;
  }
}
