.switch__label {
  background-color: #eee;
  border-radius: 20px;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch__label::after {
  background-color: white;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: all 0.3s;
  width: 18px;
}

.switch__svg {
  margin: 2px 5px 0;
}

.switch__input {
  display: none;
}

.switch__input:checked + .switch__label::after {
  left: 20px;
}

.switch__input:checked + .switch__label {
  background-color: var(--dark-blue);
}

.switch--dark .switch__sun-path {
  fill: var(--gray-200)
} 

.switch--dark .switch__moon-path {
  fill: var(--gray-100)
}